{% extends "baseTemplate.html" %}
<!-- added micros -->
{% from "showLinks.html" import show_links%}

{% block title %}Questions{% endblock %}

{% block nav %}
{{show_links(user)}} <!--/.The micro link added-->
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1>{{questions['quetion_text']}}</h1>
  <p>{{questions['answer_text']}}</p>
  <p><a class="btn btn-primary btn-lg">Asked By: {{ questions['asker_name']}}</a></p>
  <p><a class="btn btn-primary btn-lg">Answered By: {{ questions['expert_name']}}</a></p>
</div>
{% endblock %}